<h1>Аvailable products:</h1>
<%= link_to 'Add product', new_product_path %> 

<% @products.each do |product| %>
  <p>
      <strong><%= product.title %></strong><br />
      <%= product.description %>
 <% end %>
