<p>
<%= image_tag @product.image.url %>
</p>
<p>
  <strong>Title:</strong><br />
  <%= @product.title %>
</p>
 
<p>
  <strong>Description:</strong><br />
  <%= @product.description %>
</p>

<%= link_to 'View all products', products_path %>